.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#ffffff;
   /* #282c34; */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
tr {
  display: table-row;
  vertical-align: top;
  border-color: inherit;
  /* style="vertical-align:top" */
}
table { 
  
  letter-spacing:3px; 

  width: 1000px; 
 
   text-align: center;
    border-collapse: collapse;
    border:"5";
    box-shadow: 0 2px 12px 0 rgba(194, 8, 70, 0.1) 

  }   
  table,table tr th, table tr td { 
    /* border:1px solid #e1e6e9;  */
    border-bottom:1px solid #484a4b; 
    padding:20px;
   }
   th{
    background-color:#f7f0f0;

   }
   button{
    letter-spacing:2px; 
    margin: 5px 5px;
    padding: 10px; 
    border: 1px solid #dbcfc5; 
    background-color: #fdfdfd;
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgba(12, 12, 12, 0.1) 
}
input{
  box-shadow: 0 2px 12px 0 rgba(194, 8, 70, 0.1) 

}